html {
  scroll-behavior: smooth;
}

.SectionTitle {
  display: flex;
  margin: 0 0 5vw;
  font-size: 4vw;
  font-weight: 500;
  font-family: $Font2;
  & img {
    width: 4vw;
    margin: 1.5vw 0 0 2vw;
  }
}

.Title {
  font-weight: 500;
  font-size: 6.8vw;
  line-height: 115%;

  font-family: $Font1;
}

.Text {
  font-size: 3.65vw;
  font-weight: 300;
  line-height: 130%;

  font-family: $Font2;
}

.Button {
  padding: 2vw 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Button-Arrow {
  width: 18vw;
  height: 18vw;
  left: 0;
  transition: 0.3s;
  position: absolute;
  border-radius: 100vw;
  background-color: rgba(100, 100, 100, 0.5);
  background-image: url(../../Assets/Images/button-arrow.svg);
  background-size: 6vw;
  background-repeat: no-repeat;
  background-position: 5.5vw center;
  will-change: width background-position;
}

.Button-Text {
  margin-left: 1vw;
  z-index: 2;
  font-weight: 500;
  font-size: 5vw;
  color: $color-claro;
  font-family: $Font1;
}

.Desktop {
  display: none;
}

.Mobile {
  display: flex;
}

.Media-Container-Animation {
  width: 8vw;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Media-Ig {
  width: 60%;
}
.Media-Be {
  width: 70%;
}
.Media-In {
  width: 50%;
}
.Media-Wsp {
  width: 60%;
}

// PROJECTS
.ProjectsListContainer {
  border: 2px solid red;
  padding: 30vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bgoscuro;
}

.ProjectList-Project {
  width: 80%;
  padding: 5vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  &__Image {
    width: 90%;
    margin: 0 0 5vw;
  }
  &__Title {
    margin: 0;
    font-size: 10vw;
    color: $color-claro;
  }
  &__Text {
    margin: 0;
    font-size: 7vw;

    color: $color-terciario;
  }
}

@media screen and (min-width: 1099px) {
  .SectionTitle {
    margin: 0 0 4vw;
    font-size: 20px;
    & img {
      width: 0.8vw;
      margin: 0.4vw 0 0 0.4vw;
    }
  }

  .Title {
    font-size: 3.3vw;
  }

  .Text {
    font-size: 1.1vw;
    line-height: 150%;
  }

  .Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }

  .Button:hover .Button-Arrow {
    width: 99%;
    background-position: 1.9vw center;
  }

  .Button-Arrow {
    left: 0;
    transition: 0.3s;
    width: 5vw;
    height: 5vw;
    background-size: 1.5vw;
    background-position: 1.5vw center;
    transition: 0.3s;
    will-change: width background-position;
  }

  .Button-Text {
    margin-left: 1vw;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: 600;
    color: $color-claro;
    font-family: $Font1;
  }

  .Desktop {
    display: flex;
  }

  .Mobile {
    display: none;
  }

  // Social media animation
  .Media-Container-Animation {
    width: 1.2vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .Media-Animation {
    display: flex;
    width: 2.1vw;
    height: 2.1vw;
    opacity: 0;
    transition: 0.3s;
    will-change: transform;
    border-radius: 50vw;
    position: absolute;
    transform: scale(0.1);
    background-color: transparent;
  }

  .Social-Media-Image {
    z-index: 2;
    will-change: filter;
    transition: 0.3s;
  }

  .Media-Container-Animation:hover .Media-Animation {
    transform: scale(1);
    opacity: 1;
  }

  .Media-Ig {
    width: 95%;
    margin-left: -0.05vw;
  }
  .Media-Be {
    width: 100%;
  }
  .Media-In {
    width: 80%;
  }
  .Media-Wsp {
    width: 100%;
  }

  .Span-Animation {
    overflow: hidden;
    position: relative;
  }

  .Span-Animation .Span-Animation-Block {
    animation-name: textTranslateAnimation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5vw 2 rgba(255, 255, 255, 1);
    will-change: margin;
    background-color: $color-claro;
  }
}
