.HomeHero {
  padding: 15vw 0 42vw;
}

.HomeHeroContainer {
  position: relative;
  background-color: $color-claro;
  &__Media {
    display: none;
  }
  &__Title {
    width: 70%;
    margin: 10vw 0 10vw 5%;
    font-size: 8.7vw;
  }
  &__Subtitle {
    display: none;
  }
  &__ImageContainer {
    width: 100%;
    height: 75vw;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../../Assets/Images/home-hero-bg-mobile.webp);
    background-size: 81%;
    background-size: 60vw;
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: hidden;

    &--Image {
      width: 85%;
      overflow: hidden;
      margin-top: 5vw;
      border-top-left-radius: 17vw;
      & img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1099px) {
  .HomeHero {
    padding: 0vw;
  }
  .HomeHeroContainer {
    padding: 8vw 0 0;
    position: relative;
    &__Media {
      top: 11vw;
      left: 5%;
      position: absolute;
      display: flex;
      flex-direction: column;
      &--Link {
        width: 1.2vw;
        height: 1.2vw;
        margin: 0.7vw 0;
        & img {
          z-index: 2;
          will-change: filter;
          transition: 0.3s;
          opacity: 0;
        }
      }
    }
    &__Title {
      width: 46%;
      margin: 0vw 0 0.2vw 12%;
      font-size: 4vw;
    }
    &__Subtitle {
      width: 20%;
      margin: 5vw 0 6.5vw 12%;
      display: flex;
      flex-direction: column;
      & span {
        font-weight: 600;
      }
    }
    &__ImageContainer {
      width: 40vw;
      height: 27vw;
      right: 4%;
      bottom: -11.5vw;
      transition: 0.5s;
      background-size: 10vw;
      background-image: url(../../Assets/Images/home-hero-bg-desktop.webp);
      &--Image {
        width: 34vw;
        margin: 0;
        border-top-left-radius: 8vw;
        transition: 0.5s;
        & img {
          transition: 0.5s;
        }
      }
    }
  }

  .Hero-Ig {
    width: 100%;
    margin-left: -0.05vw;
  }
  .Hero-Be {
    width: 100%;
  }
  .Hero-In {
    width: 80%;
  }

  .Media-Container-Animation:hover .Hero-Media-Animation {
    background-color: $color-primario;
  }

  .Media-Container-Animation:hover .Hero-Media-Image {
    filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(7476%)
      hue-rotate(77deg) brightness(105%) contrast(106%);
  }
}
