.HomeProjects {
  background-color: $color-bgoscuro;
}

.HomeProjectsContainer {
  width: 85%;
  margin: 0 auto;
  padding: 50vw 0 15vw;
  &__SectionTitle {
    color: $color-claro;
  }
  &__Title {
    width: 95%;
    margin: 0;
    color: $color-claro;
  }
  &__Line {
    width: 50vw;
    margin: 12vw 0 0vw -7.5vw;
    display: flex;
    border-top: 2px solid $color-secundario;
  }
  &__Description {
    width: 90%;
    margin: 8vw 0 25vw 10%;
    color: $color-claro;
    & span {
      font-weight: 500;
    }
  }
  &__Projects {
    &--Title {
      display: flex;
      width: 100%;
      margin: 0 0 15vw 0;
      color: $color-claro;
    }
  }
  &__MoreButton {
    width: 50vw;
    margin: 0 auto;
  }
}

.ProjectBox {
  margin: 0 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__ImageContainer {
    width: 100%;
    &--Image {
      width: 100%;
    }
  }
  &__Title {
    margin: 5vw 0 3vw;
    font-size: 6vw;
    font-family: $Font1;
    color: $color-claro;
  }
  &__Location {
    margin: 0 0 5vw;
    font-weight: 300;
    font-size: 6vw;
    color: $color-terciario;
    font-family: $Font2;
  }
}

.HomeProjectsContainer__Description.Mobile {
  display: block;
}

@media screen and (min-width: 1099px) {
  .HomeProjectsContainer {
    width: 75%;
    padding: 10vw 0 6vw;
    position: relative;
    &__Circle {
      width: 5vw;
      height: 5vw;
      top: 18.2vw;
      left: 35vw;
      z-index: 0;
      border-radius: 100vw;
      position: absolute;
      background-color: $color-primario;
    }
    &__Title {
      width: 70%;
      position: relative;
      z-index: 1;
    }
    &__Line {
      width: 40vw;
      margin: 9vw 0 15vw;
      border-top: 2px solid $color-secundario;
    }
    &__Description {
      width: 41%;
      right: 0;
      margin: -18.5vw 0 0;
      position: absolute;
    }
    &__Projects {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      &--Title {
        margin-bottom: 5vw;
      }
    }
    &__MoreButton {
      width: 14vw;
    }
  }

  .ProjectBox {
    width: 35%;
    height: 34vw;
    margin: 0 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(3) {
      margin-top: 8vw;
    }
    &:nth-child(4) {
      margin-top: -7vw;
    }
    &:nth-child(5) {
      margin-top: 1vw;
    }
    &__ImageContainer {
      width: 100%;

      &--Image {
        width: 100%;
      }
    }
    &__Title {
      margin: 2vw 0 0.7vw;
      font-size: 1.3vw;
    }
    &__Location {
      margin: 0 0 2vw;
      font-size: 1.3vw;
    }
  }

  .HomeProjectsContainer__Description.Desktop {
    display: block;
  }
  .HomeProjectsContainer__Description.Mobile {
    display: none;
  }
}
