.ProjectTemplateOne {
  width: 100%;
  padding-bottom: 15vw;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__Image {
    width: 100%;
    margin-bottom: 4vw;
    will-change: opacity;
    transition: 1s;
  }
}

.ProjectTemplateTwo {
  width: 100%;
  padding-bottom: 15vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__Image {
    width: 100%;
    margin-bottom: 4vw;
    will-change: opacity;
    transition: 1s;
  }
}

.ProjectTemplateThree {
  width: 100%;
  padding-bottom: 15vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__Image {
    width: 100%;
    margin-bottom: 4vw;
    will-change: opacity;
    transition: 1s;
  }
}

@media screen and (min-width: 1099px) {
  // Project Template One
  .ProjectTemplateOne {
    justify-content: space-between;
    padding: 0vw 0 60vw;
    &__Image {
      width: 48%;
      margin-bottom: 0;

      position: relative;
      &:nth-child(1) {
        width: 48%;
      }
      &:nth-child(2) {
        width: 48%;
        transform: translateY(29vw);
      }
      &:nth-child(3) {
        width: 48%;
        transform: translateY(11vw);
      }
      &:nth-child(4) {
        width: 100%;
        transform: translateY(21vw);
      }
      &:nth-child(5) {
        width: 100%;
        transform: translateY(32vw);
      }
      &:nth-child(6) {
        width: 48%;
        transform: translateY(40vw);
      }
      &:nth-child(7) {
        width: 48%;
        transform: translateY(69vw);
      }
      &:nth-child(8) {
        width: 48%;
        transform: translateY(52vw);
      }
    }
  }

  .ProjectTemplateTwo {
    justify-content: space-between;
    padding: 0vw 0 105vw;
    &__Image {
      width: 48%;
      margin-bottom: 0;
      &:nth-child(1) {
        width: 32%;
      }
      &:nth-child(2) {
        width: 63%;
        transform: translateY(16vw);
      }
      &:nth-child(3) {
        width: 32%;
        transform: translateY(-3vw);
      }
      &:nth-child(4) {
        width: 100%;
        transform: translateY(10vw);
      }
      &:nth-child(5) {
        width: 48%;
        transform: translateY(36vw);
      }
      &:nth-child(6) {
        width: 48%;
        transform: translateY(20vw);
      }
      &:nth-child(7) {
        width: 100%;
        transform: translateY(45vw);
      }
      &:nth-child(8) {
        width: 48%;
        transform: translateY(53vw);
      }
      &:nth-child(9) {
        width: 48%;
        transform: translateY(65vw);
      }
      &:nth-child(10) {
        width: 100%;
        transform: translateY(74vw);
      }
      &:nth-child(11) {
        width: 63.7%;
        transform: translateY(83vw) translateX(57%);
      }
      &:nth-child(12) {
        width: 65%;
        transform: translateY(90vw);
      }
    }
  }

  .ProjectTemplateThree {
    justify-content: space-between;
    padding: 7vw 0 137vw;
    &__Image {
      width: 48%;
      margin-bottom: 0;
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 66%;
        transform: translateY(16vw);
      }
      &:nth-child(3) {
        width: 30%;
        transform: translateY(1vw);
      }
      &:nth-child(4) {
        width: 48%;
        transform: translateY(47vw);
      }
      &:nth-child(5) {
        width: 30%;
        transform: translateY(-13vw);
      }
      &:nth-child(6) {
        width: 48%;
        transform: translateY(-12vw) translateX(108.5%);
      }
      &:nth-child(7) {
        width: 100%;
        transform: translateY(16vw);
      }
      &:nth-child(8) {
        width: 48%;
        transform: translateY(43vw);
      }
      &:nth-child(9) {
        width: 48%;
        transform: translateY(27vw);
      }
      &:nth-child(10) {
        width: 100%;
        transform: translateY(52vw);
      }
      &:nth-child(11) {
        width: 48.5%;
        transform: translateY(68vw);
      }
      &:nth-child(12) {
        width: 48.5%;
        transform: translateY(84vw);
      }
      &:nth-child(13) {
        width: 100%;
        transform: translateY(102vw);
      }
      &:nth-child(14) {
        width: 65%;
        transform: translateY(118vw) translateX(54%);
      }
      &:nth-child(15) {
        width: 65%;
        transform: translateY(125vw);
      }
    }
  }
}
