.NavBar {
  padding: 5vw 0 0;
}

.NavBarContainer {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  &__MenuButton {
    width: 9vw;
    height: 9vw;
    left: 0;
    top: 1vw;
    margin-top: 2vw;
    display: flex;
    position: absolute;
    align-items: center;
    &--Image {
      width: 100%;
    }
  }
  &__Logo {
    width: 25vw;
    margin: 5vw auto 0;
    display: flex;
    align-items: center;
    &--Image {
      width: 100%;
    }
  }
  &__LanguageButton {
    top: 5vw;
    right: 0;
    padding: 0 2vw;
    font-size: 5vw;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    will-change: box-shadow transform;
    font-family: $Font1;
    color: $color-primario;
    background-color: $color-claro;
    &--Selected {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      & img {
        width: 3.5vw;
        margin-left: 2vw;
        transition: 0.3s;
        will-change: transform;
        transform: rotateX(180deg);
      }
    }

    &:hover {
      padding-bottom: 19vw;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    }
    &:hover .NavBar__LanguageButton--Selected img {
      transform: rotateX(0deg);
    }
    &:hover .desktop-lang-1 {
      transform: translateY(4vw);
      opacity: 1;
    }
    &:hover .desktop-lang-2 {
      transform: translateY(12vw);
      opacity: 1;
    }
    &--Options {
      width: 100%;
      padding: 10vw 0 0;
      opacity: 0;
      transition: 0.3s;
      position: absolute;
      will-change: opacity transform color;
      transform: translateY(0);
    }
  }
}

.Menu {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  will-change: margin;
  position: fixed;
  animation-fill-mode: forwards;
  background-color: $color-bgoscuro;
}

.MenuContainer {
  width: 85%;
  margin: 0 auto;
  padding: 10vw 0 4vw;
  overflow: hidden;
  &__Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    &--CloseButton {
      width: 15vw;
      height: 15vw;
      border-radius: 100vw;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      will-change: transform;
      transform: scale(0);
      background-color: $color-variacion2;
      & img {
        width: 10vw;
        border-radius: 100vw;
        position: absolute;
      }
    }
    &--Logo {
      width: 25vw;
      will-change: transform;
    }
    &--LanguageButton {
      width: 15vw;
      will-change: transform;
      font-family: $Font1;
      color: $color-claro;
      & img {
        width: 3.5vw;
        margin-left: 2vw;
        transition: 0.3s;
        will-change: transform;
        transform: rotateX(180deg);
      }
    }
  }
  &__Links {
    width: 40vw;
    margin: 10vw 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &--Options {
      margin: 6vw 0;
      text-decoration: none;
      will-change: transform;
      color: $color-claro;
      font-family: $Font1;
    }
  }
  &__Media {
    margin: 12vw 0 0;
    padding: 7vw 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    &--Line {
      width: 100%;
      top: 0;
      display: flex;
      position: absolute;
      will-change: transform;
      border-top: 0.4vw solid #aaa;
      transform: translateX(-100vw);
    }
    &--Link {
      width: 10vw;
      height: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      will-change: transform;
    }
  }
  &__Contact {
    width: 59vw;
    margin: 1vw 0 0;
    &--Arrow {
      will-change: transform;
      transform: scale(0);
    }
    &--Text {
      will-change: transform;
    }
  }
}

.Menu-Ig {
  width: 60%;
}
.Menu-Be {
  width: 70%;
}
.Menu-In {
  width: 50%;
}
.Menu-Wsp {
  width: 60%;
}

@media screen and (min-width: 1099px) {
  .NavBar {
    padding: 2vw 0 0;
  }
  .NavBarContainer {
    &__MenuButton {
      width: 2vw;
      height: 2vw;
      top: 0;
      margin: 0;
      cursor: pointer;
    }
    &__Logo {
      width: 10vw;
      margin: 0 auto;
      cursor: pointer;
    }
    &__LanguageButton {
      z-index: 3;
      top: 0.4vw;
      padding: 0 0.5vw;
      font-size: 1vw;
      cursor: pointer;
      will-change: transform;
      &--Selected {
        & img {
          width: 0.5vw;
          margin-left: 0.2vw;
        }
      }
      &:hover {
        padding-bottom: 4vw;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      }
      &:hover .NavBar__LanguageButton--Selected img {
        transform: rotateX(0deg);
      }
      &:hover .desktop-lang-1 {
        transform: translateY(0.8vw);
        opacity: 1;
      }
      &:hover .desktop-lang-2 {
        transform: translateY(2.1vw);
        opacity: 1;
      }
      &--Options {
        width: 100%;
        padding: 1vw 0 0;
        &:hover {
          color: $color-variacion2;
        }
      }
    }
  }

  .MenuContainer {
    height: 90vh;
    padding: 2vw 0 4vw;
    &__Top {
      padding: 1vw 0;
      &--CloseButton {
        width: 3vw;
        height: 3vw;
        transition: 0.3s;
        position: absolute;
        cursor: pointer;
        will-change: background-color;
        &:hover {
          background-color: $color-claro;
        }
        & img {
          width: 2vw;
          border-radius: 100vw;
        }
      }
      &--Logo {
        width: 8vw;
        margin: 0 auto;
      }
      &--LanguageButton {
        display: none;
      }
    }
    &__Links {
      width: 100%;
      height: 4.5vw;
      margin-top: 14vw;
      flex-direction: row;
      justify-content: space-between;
      &--Options {
        margin: 0;
        font-weight: 400;
        font-size: 3.3vw;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          color: $color-variacion2;
        }
      }
    }
    &__Media {
      width: 16vw;
      height: 4vw;
      bottom: 2vw;
      left: 15%;
      margin: 0;
      padding: 0;
      position: absolute;
      overflow: hidden;
      &--Line {
        display: none;
      }
      &--Link {
        width: 2.1vw;
        height: 2.1vw;
      }
    }
    &__Contact {
      width: 15.6vw;
      right: 20%;
      bottom: 0;
      margin: 0;
      &--Arrow {
        transform: scale(0);
      }
    }
  }
  .MenuContainer__Contact.Button {
    position: absolute;
  }

  .Menu-Media-Animation.Media-Animation {
    background-color: $color-variacion2;
  }
}
