.Footer {
  padding: 25vw 0 10vw;
  border-top: 2px solid #ddd;
}

.FooterContainer {
  width: 90%;
  margin: 0 auto;
  position: relative;

  &__LogoSubcontainer {
    width: 55%;
    margin: 0 0 10vw;
    &--Image {
      width: 90%;
    }
    &--Text {
      font-size: 3.7vw;
      margin: 4vw 0 0;
      display: flex;
      flex-direction: column;
      font-family: $Font2;

      & span {
        font-weight: 600;
      }
    }
  }
  &__ContactSubcontainer {
    width: 65%;
    margin: 0 0 10vw;

    &--Title {
      margin: 0 0 2vw;
      font-size: 6.5vw;
      font-weight: 500;
      font-family: $Font1;
    }
    &--Text {
      font-size: 4.3vw;
      margin: 0;
      font-family: $Font3;
      & span {
        font-weight: 500;
      }
    }
    &--Location {
      font-size: 4.3vw;
      margin: 3vw 0 0;
      font-family: $Font3;
    }
  }
  &__SiteMapSubcontainer {
    margin: 0 0 10vw;

    &--Title {
      margin: 0 0 4vw;
      font-size: 6.5vw;
      font-weight: 500;
      font-family: $Font1;
    }
    &--Link {
      display: flex;
      text-decoration: none;
      align-items: center;
      margin: 0 0 1vw 0;
      & p {
        margin: 0;
        font-size: 4.5vw;
        font-family: $Font3;
        color: $color-primario;
      }
      & img {
        width: 3vw;
        margin: 1vw 0 0 3vw;
      }
    }
  }
  &__MediaSubcontainer {
    display: flex;
    flex-wrap: wrap;
    &--Title {
      width: 100%;
      margin: 0 0 6vw;
      font-size: 6.5vw;
      font-weight: 500;
      font-family: $Font1;
    }
    &--Link {
      width: 8vw;
      height: 8vw;
      margin-right: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__ArrowUp {
    position: absolute;
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 10%;
    &--Image {
      width: 100%;
    }
  }
}

.Footer-Ig {
  width: 6vw;
  height: 6vw;
}
.Footer-Be {
  width: 8vw;
  height: 8vw;
}
.Footer-In {
  width: 6vw;
  height: 6vw;
}

@media screen and (min-width: 1099px) {
  .Footer {
    padding: 5vw 0;
    border-top: 2px solid #ddd;
    width: 85%;
    margin: 0 auto;
  }

  .FooterContainer {
    width: 95%;
    display: flex;

    &__LogoSubcontainer {
      width: 45%;
      margin: 0;
      &--Image {
        width: 37%;
        margin-bottom: 1vw;
      }
      &--Text {
        width: 40%;
        font-size: 1vw;
        margin: 0;
      }
    }
    &__ContactSubcontainer {
      width: 15.5%;
      margin: 0 9.75% 0 0;

      &--Title {
        margin: 0 0 0.5vw;
        font-size: 1.3vw;
      }
      &--Text {
        font-size: 0.9vw;
      }
      &--Location {
        font-size: 0.9vw;
        margin: 1vw 0 0;
      }
    }
    &__SiteMapSubcontainer {
      width: 11%;

      margin: 0 9.75% 0 0;

      &--Title {
        margin: 0;
        font-size: 1.3vw;
      }
      &--Link {
        margin: 0;
        & p {
          margin: 0 0 0.1vw;
          font-size: 0.9vw;
        }
        & img {
          width: 0.5vw;
          margin: 0;
        }
      }
    }
    &__MediaSubcontainer {
      width: 9%;
      justify-content: center;
      align-items: flex-start;
      height: 5vw;
      &--Title {
        margin: 0 0 0.5vw;
        font-size: 1.3vw;
        text-align: center;
      }
      &--Link {
        width: 1vw;
        height: 1vw;
        margin: 0 0.65vw;
      }
    }
    &__ArrowUp {
      display: none;
    }
  }

  .Footer-Ig {
    width: 1.2vw;
    height: 1.2vw;
  }
  .Footer-Be {
    width: 1.5vw;
    height: 1.5vw;
  }
  .Footer-In {
    width: 1.2vw;
    height: 1.2vw;
  }
}
